name: Terraform Destroy

on:
  workflow_dispatch: # This adds a manual "Run workflow" button in GitHub Actions

jobs:
  destroy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: env/dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate to GCP
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve