name: Terraform Dev Destroy

on:
  workflow_dispatch:   # manual trigger from GitHub UI

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: env/dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Terraform Init
        run: terraform init
      
      - name: Show State
        run: terraform state list

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
